/model_cache/tokenizer.json
/model_cache/model.safetensors
/model_cache/models--nomic-ai--nomic-embed-text-v2-moe/snapshots/*

!model_cache/.gitkeep
Rag_Cache/
**/__pycache__/
/*/__pycache__/
lib/

logs/*
!logs/.gitkeep

ReMindRag/webui/temp/*
!ReMindRag/webui/temp/.gitkeep

eval/logs/*
!eval/logs/.gitkeep

eval/dataset_cache/*
!eval/dataset_cache/.gitkeep

eval/database/*
!eval/database/.gitkeep

eval/data_modify/

*.env